.estilo_{
    height: 100%;
}
.estilo_text{
    display: flex ;
   justify-content: center;
   align-items: center;
}
.sombras_{
    -webkit-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.75);

}

